/*AUTOR: ANDRÉS ALZATE ECHEVERRY
LINKEDING: ANDRÉS ALZATE ECHEVERRY
FECHA 10/25/2018
CODIGO LIBRE*/

.AAE-container-header
    width: 100%
    background-color: Light
    box-shadow: 1px 1px 1px rgba(204, 204, 204, 0.20)
    position: fixed
    z-index: 1000
    .AAE-container-logo
        margin-left: 15px
        img 
            width: 80px
        span 
            color: Lightnav
            font-size: 15px
            padding: 5px
        a 
            text-decoration: none
    .AAE-var-optionsName
        .item-option
            color: Lightnav
            padding: 10px
    .AAE-option-sesion
        .aae-inicio-sesion
            color: SecionIni
            font-weight: bold
            font-size: 14px
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 10px
            text-decoration: none
    .AAE-container-menuHide
        .open-nav
            color Lightnav
            font-size 17px
            position: fixed
            padding: 17px
            margin-left -40px
            transition: all 0.4s ease-in;

        .open-nav-show
            display: none
        .open-nav-show-d-block
            display: block
    .input-group
        width: 90%
        .fa-search
            color Lightnav

.AAE-section-principal
    width: 100%
    min-height: 100vh
    background-color: Lightfondo
    .aae-menu-hide
        background-color: light-menu
        width: 20%
        height 100vh
        margin-left: -10px
        padding-top: 90px
        overflow: hidden
        position: fixed
        &:hover
            overflow-y: auto
        .group-style
            border-bottom: 1px solid border-menu
            a  
                text-decoration: none
            .AAE-title-section-menu
                font-size: 14px
                color: #888
                padding: 20px
                margin-left: 5px
            .AAE-text-menu 
                padding-left: 20px
                font-size: 15px
                font-weight: 100
        ul
            margin-top: -20px
            li 
                padding: 7px
                margin-left: -22px
                list-style none
                width 100%
                cursor: pointer
                &:hover 
                    background-color: rgba(201, 201, 201, 0.20)
            i  
                margin-right: 20px
            a 
                color: #555
                text-decoration: none
            .active
                background-color: rgba(201, 201, 201, 0.20)
                color: #FF0000
        .group-spam-inicioSesion
            .aae-inicio-sesion
                padding: 20px


    .AAE-video-publicidad
        padding-top: 80px
        padding-left: 45px
        iframe 
            border none
        .video-publicidad-inicial
            width 405px  
            height 245px
        .video-publicidad 
            width: 200px
            height: 110px
    .AAE-video-section
        padding-left: 45px
        margin-top: 20px
        .card
            width: 200px  
            float: left  
            overflow: hidden    
            .video-formato
                width: 200px
                height: 110px
                margin-top 20px
                border none
            .aae-title-videos
                font-weight: 500
                cursor pointer
            .data-descript
                margin-top 10px
                .AAE-descript
                    color: #555
                    font-size: 14px
                    margin-top -20px
                    cursor: pointer
                    span 
                        font-size 12px
